html {
	font-size:18px;
}

body{
	font:Helvetica;
	line-height:1.4rem;
}

div {
	display:block;
}

.flex {
	display:flex;
}

.container {
	max-width:960px;
	margin:auto;
}

.main {
	background-image:url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/tortoiseshell-optics/resources/images/glasses-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height:30rem;
    padding-top:1rem;
}

nav  {
	padding: 1rem 0;
    background-color: cadetblue;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav div {
	display: flex;
    align-items: center;
}
.white-logo{
	height:1.5rem;
	padding-left:2rem;
	padding-right:1rem;
}

ul {
	margin-right:1rem;
}

ul li {
	display: inline;
    padding: 0px 1rem;
}

#mainbanner{
	justify-content:flex-end;
}
.banner {
	background-color:white;
	margin-top:10rem;
	margin-right:-2rem;
	

}

h1 {
	font-weight:bold;
	font-size:2rem;
	line-height:1.2;
	padding:1.5rem 5rem;
}


#symbols {
	display:flex;
	justify-content: center;
}

.flex-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin: 3rem;
    width: 5rem;
    height: 8rem;
	
}

.flex-item img {
	width: 5rem;
    margin-bottom: 1rem;
}

.flex-item div {
	line-height:1.4rem;
}

#paper {
	width:3.5rem; 
}

.info {
	display:flex;
	flex-direction:column;
	align-items:center;
	width:35%;
	margin-right:5%;
	margin-bottom: 4rem;

}
.content {
	background-color:cadetblue;
	max-width:10rem;
	font-weight:bold;
	color:white;
	padding:0.5rem 1.25rem;
}

.info p{
	padding: 1rem 0px;
}

.supporting {
	display:flex;
	justify-content: center;
}

footer{
	background-color:azure;
	display:flex;
	align-items:center;
	padding:4rem 2rem;
}

footer img {
    height: 1.5rem;
    margin-left: 2rem;
    margin-right: 1rem;
}

#small-menu {
	display:none;
}

@media only screen and (max-width:980px){
	.main{
		padding-top:0rem;
		height:22rem;
	}
	h1 {
		padding:0.75rem 4rem;
		font-size:1.33rem;
	}

	.banner {
		margin-top:5rem;
		margin-right:2rem;
	}
	nav .container {
		width:100%;
	}

	footer.container {
		margin-bottom:2rem;
	}

}

 @media only screen and (max-width:613px) {
 	.menu ul {
 		display:none;
 	}
 	#small-menu {
    display:block;
 	}
 	ul li {
 	display: inline;
    padding: 0px 1rem;
 	}
 }

 @media only screen and (max-width:560px) {
 		.main{
		padding-top:0rem;
		height:17rem;
		background-position:20%;
	}
	.banner {
    padding: 0 1rem;
    margin: 12rem auto 0 auto;
    width: 100%;
    text-align: center;
	}
	h1 {
		padding:1rem;
		margin:0 auto;
		font-size:1rem;
	}
	#symbols {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top:3rem;
 }
 nav span {
 	display:none;
 }
 .flex-item {
 	height: auto;
    font-size: 0.77rem;
    margin: 0.77rem;
 }

 .supporting {
	flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top:3rem;
}
.info {
	width: auto;

}

 .content {
 	width: 100%;
    max-width: 100%;
    text-align: center;
 }

footer div {
	display:none;
}

footer {

	justify-content:center;
	margin:auto;

}
}